* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
    
  }
  


  

  body{

    background-color: black;
    color: white;
  }

  

  footer{
    
    background-color: cyan;
    margin-top: 50px;  
  }



    

   


 

  